body {
  margin: 0;
  font-size: 20px;
  background-color: #f4efe6;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

}

.custom-box { 
  max-width:700px;
  background-color: #5e6c5b ;
  margin: 40px auto;
  padding: 30px;
  border-radius: 5px;
}


.main-button {
  padding: 15px 45px;
  background-color: #f4efe6;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;

}

.quiz-container .question-number{
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #cccc;
  padding-bottom: 10px;
  line-height: 28px;
}

.quiz-container .question-text{
  font-size: 22px;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;


}

.quiz-container .options-container{
  font-size: 20px;
  color: #fff;

}

.quiz-container .options-container .option{
  padding:15px;
  font-size: 15px;
  line-height: 22px;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f4efe6;



}
.quiz-box .button{
  margin:15px 0;
}

.quiz-box .answer-indicator{
  border-top: 1px solid #cccc;
}

.quiz-box .answer-indicator div{
  height: 40px;
  width: 40px;
  display: inline-block;
  background: #cccc;
  border-radius: 50%;
}
